body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #000;
  stroke-opacity: .6;
}
.canvas {
    margin: 0 auto;
    display: block;
    border: 1px solid;
}

h1 {
    text-align: center;
}
h2, h3, h4 {
    text-align: center;
}
select {
    display: block;
    margin: 10px auto;
}

