body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #000;
  stroke-opacity: .6;
}
